*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
#body{
    width: 100%;
}

#header{
    display: flex;
    flex-direction: column;
    background: url(assets/img-header.png);
    height: 67vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.div-header-nav {
    display: flex;
    margin: 30px 110px;

}

.div-header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    padding-left: 10rem;
    height: 40vh;
    font-family: 'Oleo Script', cursive
}
.div-header-text p{ 
    text-align: right ;
    padding-right: 2rem;
}

.logo-header{
    display: flex;
    align-items: flex-end;
    
}
.small-man{
width: 50px;
height: 50px;
}
.man{
    width: 60px;
    height: 60px;
}
.big-man{
    width: 70px;
    height: 70px;
}
.nav-header{
    display: flex;
    width: 100%;
    font-family: 'Oleo Script', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
}

.header-text{
    
}
.header-button{

}
.nav-list{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-content: flex-end;
    list-style: none;
}
.list{
    margin-right: 3%;
}
.bcontent-top{
    display: flex;
    width: 100%;
    height: 85vh;
    flex-direction: column;
    background-color: #F2EBDC;
}
.p-bcontent-top{
    width: 100%;
    height: 6vh;
    font-family: 'Oleo Script', cursive;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 6rem;
    font-size: 20px;

}
.images-bcontent-top{
    display: flex;
    justify-content: space-evenly;
}

.config-images-bcontent-top{
    width: 100%;
}

.img-bcontent-top {
    width: 23.3vw;
    font-family: 'Oleo Script', cursive;

   
}
.img-bcontent-top p{
    text-align: center;
}
.content-bottom{
    padding-left: 10rem;
    height: 85vh;
}
.cheader-button{
    border: 1px solid #BF6F41;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Old Standard TT', serif;
    font-size:13px;
    padding:6px 10px;
    background-color: transparent;
    color: #BF6F41;
    cursor: pointer;
}
.bcontent-bottom{
    display: flex;
    justify-content: space-around;
    background-color: #F2EBDC;
  
}
   .header-button{
    border: 1px solid #BF6F41;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Old Standard TT', serif;
    font-size:13px;
    padding:6px 10px;
    background-color: #F2EBDC;
    color: #BF6F41;
    cursor: pointer;

   }